#recentprs-cell {
  display: flex;
  flex-direction: column;
  height: 33.33333333vh;
  width: 33.33333333vw;

  padding-bottom: 0; // Fix to align the recent prs to the eventsgit 

  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;;
    font-weight: 600;
  }

  .pr-block {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 1vh;
    height: 25%;
    display: flex;

    .avatar {
      margin: auto;
      height: 60px;
      width: 60px;
      border-radius: 5px;
      border: 3px solid #222B5C;
    }

    .vertical-center-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .details {
      text-align: left;
      width: 450px;
      box-sizing: border-box;
      color: #222B5C;
      padding-left: 15px;

      h2 {
        font-size: calc(1vw + 3px);
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        font-size: calc(1vw + 2px);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
      }
    }
    .time {
      text-align: right;
      box-sizing: border-box;
      width: 130px;
      color: #e35058;
    }
  }
  
  p {
    transition-duration: $theme-transition-duration;
    font-weight: 600;
  }
}