#recentprs-cell {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    h1 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;;
      font-weight: 600;
    }
    .top-half {
      box-sizing: border-box;
      height: 50%;
      padding-bottom: 5px;
    }
    .bottom-half {
      box-sizing: border-box;
      height: 50%;
      padding-top: 5px;
    }
  
    .pr-block {
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 1vh;
      height: 83.2px;

      .avatar {
        height: 60px;
        width: 60px;
        margin-top: 11px;
        border-radius: 5px;
        border: 3px solid #222B5C;
        float: left;
      }
  
      .vertical-center-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .details {
        text-align: left;
        width: 450px;
        box-sizing: border-box;
        color: #222B5C;
        padding-left: 15px;
  
        h2 {
          font-size: calc(1vw + 3px);
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        h3 {
          font-size: calc(1vw + 2px);
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
        }
      }
      .time {
        text-align: right;
        box-sizing: border-box;
        width: 130px;
        color: #e35058;
  
        h2 {
          transition-duration: $theme-transition-duration;
          font-weight: 600;
          font-size: calc(1.2vw);
        }
      }
    }
    
    p {
      transition-duration: $theme-transition-duration;
      font-weight: 600;
    }
  }