#sponsors-cell {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  
  .top-half {
    box-sizing: border-box;
    display: grid;
    height: 50%;
    padding: 15% 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    img {
      height: 100%;
      width: 90%;
      grid-row: auto;
      grid-column: auto;
    }

    #bus {
      grid-row: 1 / 3;
      grid-column: 1;
      width: 80%;
      height: 100%;
      
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .bottom-half {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .car-sponsors {
      height: 50%;
      width: 100%;
      background-color: red;
      #car {
        height: 100%;
      }
    }

    .bike-sponsors {
      height: 50%;
      width: 100%;
      background-color: green;
      #bike {
        height: 100%;
      }
    }

  }
}

