#stats-cell {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    h1 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;;
      font-weight: 600;
    }
    .top-half {
      box-sizing: border-box;
      height: 50%;
      padding-bottom: 5px;
    }
    .bottom-half {
      box-sizing: border-box;
      height: 50%;
      padding-top: 5px;
    }

    .chart {
      background-color: #FFFFFF;
      border-radius: 20px;
      height: 100%;
      position: relative;
    }

    .dots {
      position: absolute;
      bottom: 33px;
      left: 50%;
      transform: translateX(-50%);
    }

    .dot {
      width: 15px;
      height: 15px;
      background-color: #212a5b;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }

    .selected {
      background-color: #6aaec4;
    }

    
    p {
      transition-duration: $theme-transition-duration;
      font-weight: 600;
    }
  }