//THEMING COLORS
$theme-transition-duration: 0s;

$day-dash-bg-color: url('../../assets/gradient_background.png');
$day-dash-text-color: #E35058;
$day-dash-header-color: #222B5C;
$day-dash-text-shadow-color: #A43B5C; // the day design has a textshadow
$day-countdown-text-color: #E28B79;
$day-countdown-top-color: rgba(40, 81, 99, .85);
$day-countdown-bottom-color: rgba(40, 81, 99, 1);

$night-dash-bg-color: url('../../assets/gradient_background_dark.png');
$night-dash-text-color: white;
$night-dash-text-shadow-color: #E2B879;
$night-countdown-text-color: #6BAEC5;
$night-countdown-top-color: #FFFFFF;
$night-countdown-bottom-color: #D7D7D7;