@import './variables.scss';

.dashboard-wrapper {
  height: 100vh;
  width: 100vw;
  padding-top: 0vh;
  padding-bottom: 0vh;
  box-sizing: border-box;

  position: relative;
  overflow: hidden;

  .dashboard {
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: 33.33333% 33.33333% 33.33333%;
  }

  #theme-handler {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  #theme-handler:focus {
    outline: none;
  }
}

#cityscape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50vw; // TO BE DECIDED
}

//alter text colors here to propagate to ALL cells
.day {
  transition: color $theme-transition-duration linear;
  background: $day-dash-bg-color;
  
  p {
    color: $day-dash-text-color;
  }
  h1 {
    color: $day-dash-header-color;
  }


  #time-cell {
    .clock {
      p {
        text-shadow: 3px 3px $day-dash-text-shadow-color;
      }
    }
  }
  #countdown-cell {
    .clock {
      .counter {
        h4 {  
          color: $day-dash-text-color;
        }
      }
    }
  }
  
  #sponsors-cell{
    .top-half {
      h2 {
        color: $day-dash-header-color;
      }
    }
  }
  .digit {
    color: $day-countdown-text-color;
  }
  .digit-top {
    background-color: $day-countdown-top-color;
  }
  .digit-bottom {
    background-color: $day-countdown-bottom-color;
  }
}


.night {
  transition-duration: $theme-transition-duration;
  background: $night-dash-bg-color;
  h1, h4, p {
    color: $night-dash-text-color;
  }
  
  #time-cell {
    .clock {
      p {
        text-shadow: 3px 3px $night-dash-text-shadow-color;
      }
    }
  }
  #sponsors-cell{
    .top-half {
      h2 {
        color: $night-dash-text-color;
      }
    }
  }

  .digit {
    color: $night-countdown-text-color;
  }
  .digit-top {
    background-color: $night-countdown-top-color;
  }
  .digit-bottom {
    background-color: $night-countdown-bottom-color;
  }
}

@import "cells";
@import 'variables';
