@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap');

* {
  font-family: 'Montserrat';
  margin: 0;
  color: white;
  font-weight: 400;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;

  background-image: url("/assets/landing.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(38, 56, 85, 0.24);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 6vw;
}